PGHOST=localhost
PGPORT=5432
PGDATABASE=ilham
PGUSER=ilham_app
PGPASSWORD=ilham

PORT=3000
JWT_SECRET=change-me-before-deploying
JWT_ACCESS_TTL=15m
REFRESH_TOKEN_TTL_DAYS=7
WEB_ORIGIN=http://localhost:5173
